<div class="container">
  <div class="card" style="width: 100%">
    <ul class="list-group list-group-flush">
      <% @users.each do |user|%>
      <li class="list-group-item ">
        <div class="d-flex justify-content-between">
          <div class="h5">
            <b>Photo</b><%= image_tag user.photo, :alt => 'image' %>
            <b>Name: </b><%=user.name%> 
          </div>
        <small>Posts: </b><%=user.posts_counter || 0 %></b> </small>
        </div>
        <div class="">
          <%= link_to 'show user', user_path(user), class: 'btn-sm btn btn-primary' %>
         </div>
      </li>
      <%end%>
    </ul>
    <div class="card-footer">
      <small class="text-muted">Developed by M-Loman</small>
    </div>
  </div>
</div>